header {
    padding: 2rem 0rem 2rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size:24px;
    color: var(--primary-color-light);
    border-bottom: 5px solid var(--primary-color-light);
}