            
<div id="wrapper">
    <app-header></app-header>
    <main class="main-content">
        <section class="info-section">
            <app-night></app-night>
            <app-moon-info></app-moon-info>
        </section>
        <section class="planets-section">
            <app-planets></app-planets>
        </section>
        <section class="dso-section">
            <app-dsos></app-dsos>
        </section>
        <section class="events-section">
            <app-events></app-events>
        </section>
    </main>
</div>
