$sunlight: #aa0000;
$shadow: #000;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:3px;
}

.moon {
  display: inline-block;
  width: 19em;
  height: 19em;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0.25em;
  
}

.light {
  box-sizing: border-box;
  width: 20em;
  height: 20em;
  background-color: $shadow;
  border-radius: 50%;
  animation: cycle 20s linear infinite reverse;
  animation-play-state: paused;
  filter: blur(0.4em);
}

.texture {
  width: 19em;
  height: 19em;
  border-radius: 50%;
  position: absolute;
  margin-top: -20em;
  background-image: url('/moon-BG.png');
  background-position: center center;
  background-size: 106%;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.sphere {
  width: 19.75em;
  height: 19.75em;
  border-radius: 50%;
  box-shadow:
    inset 0 0 1em #0002,
    inset 0 0 1em #0002,
    inset 0 0 1em #0002;
  position: absolute;
  margin-top: -20.3em;
  margin-left: -0.3em;
  filter: blur(0.1em);
}

@keyframes cycle {
  0% {
    border-left: 0 solid $sunlight;
    border-right: 10em solid $shadow;
    background-color: $shadow;
    transform: rotate(-10deg);
  }
  24.9999% { background-color: $shadow; }
  25% {
    border-left: 10em solid $sunlight;
    border-right: 10em solid $shadow;
    background-color: $sunlight;
  }
  50% {
    border-left: 0 solid $sunlight;
    border-right: 0 solid $shadow;
    background-color: $sunlight;
    transform: rotate(0deg);
  }
  50.0001% {
    border-left: 0 solid $shadow;
  }
  74.9999% {
    background-color: $sunlight;
    border-right: 0 solid $sunlight;
  }
  75% {
    border-left: 10em solid $shadow;
    border-right: 10em solid $sunlight;
    background-color: $shadow;
  }
  100% {
    border-left: 10em solid $shadow;
    border-right: 0 solid $sunlight;
    background-color: $shadow;
    transform: rotate(10deg);
  }
}